/* ============== Extra Small Device ======== */
@media(max-width:575.98px){
    .nav_icon_wrapper{
        display: none;
    }

    .bt_first {
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        color: #0e121d;
        padding-top: 15px;
        text-transform: capitalize;
    }
    .bt_secound {
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        color: #0e121d;
    } 
    .bt_first::after {
        position: absolute;
        content: "";
        left: 80px;
        top: 33px;
        width: 51px;
        height: 2px;
        background-color: #0e121d;
    }
    #banner {
        padding-bottom: 108px;
        background-color: #f3f0f0;
    }
    .banner_text {
        background-image: url(../images/s1.png);
        /* width: 315px; */
        /* height: 500px; */
        position: relative;
    }
    .banner_text {
        background-image: url(../images/s1.png);
        width: 100%;
        height: 500px;
        position: relative;
    }
    .bnner_btn {
        font-family: 'Open Sans', sans-serif;
        color: #ffff;
        text-transform: capitalize;
        font-weight: 400;
        padding: 10px;
        background-color: #ff4a54;
        border: 0;
        border-radius: 10px;
        transition: all linear 0.3s;
    }
    .bt_end {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        text-transform: capitalize;
        padding: 0px 4px;
    }
    .bt_pera::before {
        position: absolute;
        content: url(../images/s2.png);
        left: 0;
        top: 234px;
        height: 100%;
        width: 100%;
    }
    .banner_img::after {
        content: url(../images/s4.png);
        position: absolute;
        left: 0;
        top: 20px;
        height: 100%;
        width: 100%;
        display: none;
    }
    .bng_img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: none;
    }
    .banner_imgss {
        /* overflow: hidden; */
        width: 100%;
        height: 600px;
        position: absolute;
        left: 10px;
        display: none;
    }
    .personal_info {
        /* width: 134px; */
        height: 100px;
        background-color: #ff4a54;
        border-radius: 10px;
    }
    .info_title {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #838694;
        text-transform: capitalize;
        /* padding: 25px 12px 0 12px; */
        text-align: center;
    }
    .info_pera {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #171717;
        text-transform: capitalize;
        /* padding: 0 4px 0 2px; */
        text-align: center;
    }
    .info_wrapper {
        display: flex;
        gap: 30px;
        position: absolute;
        bottom: -80px;
        right: 0px;
        flex-wrap: wrap;
    }
    .info {
        /* width: 140px; */
        height: 100px;
        bottom: 10px;
        right: 0px;
        margin-left: 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 0 10px 10px 0;
    }
    .banner_img {
        position: relative;
        width: 100%;
        height: 90px;
    }
    .personal_info {
        width: 131px;
        height: 100px;
        background-color: #ff4a54;
        border-radius: 10px;
    }
    /* <!-- ==== About me area start here ======= --> */
    .btn_wrapper {
        margin-bottom: 100px;
        flex-direction: column;
    }
    .about_head::before {
        position: absolute;
        content: url(../images/s4.png);
        width: 100%;
        height: 100%;
        left: 340px;
        top: -110px;
        display: none;
    }
    .add_icon {
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 5px;
        background-color: #ff4a54;
        margin: 16px;
    }
    .info_age {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #0e121d;
        text-transform: capitalize;
    }
    .add_info {
        width: 50%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .about_pera {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 26px;
        color: #838694;
        padding-top: 30px;
    }
    .sing {
        margin-bottom: 50px;
    }
    .skill_progress {
        display: flex;
        margin-left: 0px;
        flex-direction: column;
    }
    .skill_progress_two {
        display: flex;
        margin-left: 0px;
        flex-direction: column;
    }
    .skill_progress_three {
        display: flex;
        margin-left: 0px;
        flex-direction: column;
    }
    #about {
        padding: 0;
    }
    /* <!-- ====  Skillarea start here ======= --> */
    #service {
        display: none;
    }
    /* <!-- ==== Skills area start here  ======= --> */
    .skill_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 551px;
    }
    .skills_title::after {
        content: "";
        position: absolute;
        width: 93px;
        height: 3px;
        background-color: #ff4a54;
        right: 20%;
        top: 40%;
    }
    .skills_title::after {
        content: "";
        position: absolute;
        width: 93px;
        height: 3px;
        background-color: #ff4a54;
        right: 80px;
        top: 40%;
    }
    .skill {
        width: 160px;
        height: 160px;
        position: relative;
        margin-left: 40px;
    }
    /* <!-- == Work Shokes area start here === --> */
    .showcase_head {
        font-size: 58px;
        font-weight: 700;
        font-style: normal;
        font-family: 'Open Sans', sans-serif;
        color: #0e121d;
        text-transform: capitalize;
    }
    #Work_sokes {
        padding: 70px 0;
    }
    .mixit_btn {
        display: flex;
        justify-content: center;
        gap: 0px;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .mixit_main {
        display: flex;
        gap: 33px;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .shockes_btn {
        margin-top: 80px;
        padding: 20px;
        background-color: #ff4a54;
        border: 0;
        border-radius: 10px;
        transition: all linear 0.3s;
        font-family: 'Open Sans', sans-serif;
        color: #ffff;
        text-transform: uppercase;
        font-weight: 500;
    }
    .mixit_main {
        display: flex;
        gap: 33px;
        flex-wrap: wrap;
        margin-top: 70px;
        align-items: center;
        justify-content: center;
    }
    .box_heder {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 46px;
        font-weight: 700;
        padding-top: 0px;
    }
    .box_heder {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 34px;
        font-weight: 700;
        padding-top: 0px;
        display: none;
    }
    .box_pera {
        color: #ffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        padding-top: 20px;
        display: none;
    }
    .video_box {
        background: linear-gradient(rgba(0, 0, 0, 0.463),rgba(0, 0, 0, 0.422)),url(../images/bgg.jpg);
        height: 230px;
        /* text-align: center; */
        border-radius: 20px;
        /* position: relative; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box_icon_wrap {
        width: 85px;
        height: 85px;
        background-color: #ffff;
        border-radius: 50%;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        /* position: absolute; */
        /* bottom: 0px; */
        /* left: 40%; */
        animation-name: vdoplaybtn;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        cursor: pointer;
    }
    .blogtitle::before {
        position: absolute;
        content: url(../images/tt.png);
        width: 100%;
        height: 100%;
        left: 300px;
        top: -70px;
        display: none;
    }
    .nesw_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news_header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news_pera {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }
    #overvew {
        padding: 0 0 12px 0;
    }
    /* <!-- ==== location area start here ======= --> */
    .paddres_wraper {
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .address_box {
        margin-top: 22px;
        width: 100%;
    }
    .input_box {
        width: 100%;
        background-color: #f7faff;
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.14);
        border-radius: 10px;
        padding: 24px;
        margin-top: 20px;
        position: unset;
    }
    .inpmen {
        width: 100%;
        margin-right: 10px;
        height: 45px;
        border: 1px solid rgb(222, 220, 220);
        border-radius: 5px;
        padding-left: 20px;
    }
    .inpeml {
        width: 100%;
        margin-left: 0px;
        height: 45px;
        border: 1px solid rgb(222, 220, 220);
        border-radius: 5px;
        padding-left: 20px;
        margin-top: 30px;
    }
    /* <!-- ==== About me area start here ======= --> */
    /* <!-- ==== About me area start here ======= --> */
    /* <!-- ==== About me area start here ======= --> */
    /* <!-- ==== About me area start here ======= --> */
    /* <!-- ==== About me area start here ======= --> */
    /* <!-- ==== About me area start here ======= --> */
    /* <!-- ==== About me area start here ======= --> */

    
}