*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
body{
    scroll-behavior: smooth;
}
/* font-family: 'Caveat', cursive;
font-family: 'Open Sans', sans-serif; */
/* ============ Nav bar start here ======= */
#preloader{
    height: 100vh;
    width: 100%;
    background: #000 url(../images/loader.gif) no-repeat center center;
    background-size: 20%;
    position: fixed;
    z-index: 10000;
}
.nav_custom{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 25px;
    background-color: #ffffff;
    z-index: 9999;
}
.nav-item{
    padding: 0 17px;
}
.nav_icon_wrapper{
    display: flex;
}
.nav_icon{
    width: 40px;
    height: 40px;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 50px;
    color: #323232;
    opacity: 0.7;
    transition: all linear 0.2s;
    margin-right: 30px;
}
/* .nav_icon{
    padding: 20px;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 50px;
    margin: 5px;
    color: black;
    opacity: 0.7;
    font-size: 25px;
    transition: all linear 0.3s;
} */
.nav_icon:hover{
    background-color: #ff4a54;
    color: #ffff;
    opacity: 100%;
    justify-content: ;
}
.dropdown{
    margin-top: 15px;
}
.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.7;
    position: relative;
    transition: all linear 0.3s;
}
.nav-link:hover{
    opacity: 100%;
}
.nav-link::after{
    position: absolute;
    content: "";
    left: 0;
    top: 30px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: all linear 0.3s;
}
.nav-link:hover::after{
    width: 100%;
}
/* =========== Banner area start here ============ */
#banner{
    padding-bottom: 50px;
    background-color: #f3f0f0;
}
.banner_text{
    background-image: url(../images/s1.png);
    width: 500px;
    height: 500px;
    position: relative;
}
.banner_img{
    position: relative;
    width: 100%;
    height: 550px;
}
.banner_imgss{
    /* overflow: hidden; */
    width: 100%;
    height: 600px;
    position: absolute;
    left: 10px;
}
.info_wrapper{
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}
.personal_info{
    width: 150px;
    height: 100px;
    background-color: #ff4a54;
    border-radius: 10px;
}
.info{
    width: 140px;
    height: 100px;
    bottom: 10px;
    right: 0px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 10px 10px 0 ;
}
.info_title{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #838694;
    text-transform: capitalize;
    padding: 25px 12px 0 12px;
    text-align: center;
}
.info_pera{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #171717;
    text-transform: capitalize;
    padding: 0 12px 0 12px;
    text-align: center;
}
.banner_img::after{
    content: url(../images/s4.png);
    position: absolute;
    left:0;
    top: 20px;
    height: 100%;
    width: 100%;
}

.bng_img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    
}
.bt_first{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    color: #0e121d;
    padding-top: 80px;
    text-transform: capitalize;
}
.bt_first::after{
    position: absolute;
    content: "";
    left: 93px;
    top: 99px;
    width: 60px;
    height: 2px;
    background-color: #0e121d;
}
.bt_secound{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    color: #0e121d;
}
.bt_third{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 15px;
}
.bt_pera{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #838694;
    position: relative;
}
.bnner_btn{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    text-transform: capitalize;
    font-weight: 500;
    padding: 20px;
    background-color: #ff4a54;
    border: 0;
    border-radius: 10px;
    transition: all linear 0.3s;
}
.bnner_btn:hover{
    background-color: #002d61;
}
.bt_pera::before{
    position: absolute;
    content: url(../images/s2.png);
    left: 0;
    top: 175px;
    height: 100%;
    width: 100%;
}
.bt_end{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    padding: 6px 12px;
}
.abuticon{
    color: #00ce7d;
    font-weight: 700;
    font-size: 20px;
}

/* ======= About me area start here start here ===== */
#about{
    padding: 100px 0;
}
.btn_wrapper{
    margin-bottom: 100px;
}
.cvicon_wrapper{
    display: flex;
}
.about_head{
    color: #0e121d;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    position: relative;
}
.about_head::before{
    position: absolute;
    content: url(../images/s4.png);
    width: 100%;
    height: 100%;
    left: 340px;
    top: -110px;
}
.address_bar{
    display: flex;
    background-color: #f7faff;
}
.address_bar_two{
    display: flex;
    border: 1px solid#e1e1e1;
}
.add_info{
    width: 50%;
    display: flex;
    align-items: center;
}
.add_icon{
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    background-color: #616263;
    margin: 16px;
}
.add_icon_two{
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    background-color: #f7faff;
    margin: 16px;
}
.secound{
    font-size: 30px;
}
.infoicon{
    color: #ffffff;
    font-size: 40px;
}
.info_age{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #0e121d;
    text-transform: capitalize;
}
.info_eml{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2350cd;
    cursor: pointer;
}
.about_pera{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #838694;
    padding-bottom: 30px;
}
.about_btn{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    text-transform: capitalize;
    font-weight: 500;
    padding: 20px;
    background-color: #ff4a54;
    border: 0;
    border-radius: 10px;
    transition: all linear 0.3s;
}
.about_btn:hover{
    background-color: #002d61;
}
.btn_wrapper{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.ab_sk{
    margin: 20px 0 20px 20px;
    width: 50px;
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 50px;
    transition: all linear 0.3s;
    cursor: pointer;
}
.ab_icon{
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    color: #0e121d;
    transition: all linear 0.3s;
}
.ab_icon:hover{
    color: #ffffff;
}
.ab_sk:hover{
    background-color:#ff4a54 ;
}
.about_pera{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    line-height: 30px;
    color: #838694;
}
.sing{
    margin-bottom: 100px;
}
/* <!-- ======= Progress bar start here ======== --> */

.skill_progress{
    display: flex;
    margin-left: 70px;
}
.skill{
    width: 160px;
    height: 160px;
    position: relative;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    padding: 20px;
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}
#number{
    font-weight: 600;
    color: #555;
    font-size: 35px;
}
circle{
   fill: none;
   stroke: url(#GradientColor);
   stroke-width: 20px;
   stroke-dasharray: 472;
   stroke-dashoffset: 472;
   animation: anim 2s linear forwards;
}
svg{
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes anim{
    100%{
        stroke-dashoffset:95;
    }
}
.skill_info{
    padding-left: 30px;
}
.skill_title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color:#7700ff;
    text-transform: capitalize;
}
.skill_pera{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 550;
    line-height: 30px;
    color: #838694;
}
/* <!-- ======= Progress bar 2nd here ======== --> */ 
.skill_progress_two{
    display: flex;
    margin-left: 20px;
}
.ctwo{
    fill: none;
    stroke: url(#GradientColors);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animtwo 2s linear forwards;
 }
 @keyframes animtwo{
    100%{
        stroke-dashoffset:330;
    }
}
.skill_title_two{
    color:#ff0000 ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: capitalize;
}
.numbertwo{
    font-weight: 600;
    color: #555;
    font-size: 35px;
}
/* <!-- ======= Progress bar 3rd here ======== --> */ 
.skill_progress_three{
    display: flex;
    margin-left: 50px;
}
.cthree{
    fill: none;
    stroke: url(#GradientColorss);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animthree 2s linear forwards;
}
@keyframes animthree{
    100%{
        stroke-dashoffset:188;
    }
}
.skill_title_three{
    color:#15dd07 ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: capitalize;
}
.numberthree{
    font-weight: 600;
    color: #555;
    font-size: 35px;
}
/* <!-- ======= Progress bar end here ======== --> */
/* <!-- =========== Service area start here ============== --> */
#service{
    position: relative;
}
.service_head{
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 500px;
    position: relative;

}
.service_header{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    padding-top: 120px;
}
.some_header{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 550;
    line-height: 30px;
    color: #838694;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
}
.bg_imgtwo{
    position: absolute;
    top: 0;
    right: 0;
}
/* === Slick clider area start here ======== */
/* #service_items{
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 100px;
} */
/* .items_wrapper{
    display: flex;
    gap: 30px;
    justify-content: space-between;
} */
.service_card{
    background-color: #fff;
    margin: 0 15px;
      
}
.service_hvr{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all linear 0.3s;
}
.shit1{
    left: -42px;
    top: -20px;
    opacity: 1;
    visibility: visible;
    position: absolute;
    transition: all linear 0.3s;
}
.cards:hover .shit1{
    left:-15px;
    top: 0;
}
.shittt{
    right: -42px;
    bottom: -20px;
    opacity: 1;
    visibility: visible;
    position: absolute;
    transition: all linear 0.3s;
}
.cards:hover .shittt{
    right: 15px;
    bottom: 0px;
}
.cards{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    position: relative;
    overflow: hidden;  
    border-radius: 20px 0 20px 0;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);    
}
.service_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-top: 0;
    background-color: #ff4a54;
    border-radius: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all linear 0.3s;

}
.service_card:hover .service_btn{
    opacity: 100%;
    margin-top: 0px;
}
.items_icom{
    width: 135px;
    height: 135px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 50px;
    border-radius: 20%;
    transition: all linear 0.3s;
}
.cards:hover .items_icom{
    background-color: #ff4a54;
}
.robt{
    font-size: 80px;
    transition: all linear 0.3s;
}
.cards:hover .items_icom .robt{
    color: #ffff;
}
.items_head{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #0e121d;
    text-transform: capitalize;
    margin-top: 20px;
}
.items_info{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #838694;
    text-align: center;
    margin-top: 20px;
}

/* ======= Skills area start here ===== */
#skills{
    background-image: url(../images/skillbg.jpg);
    margin-top:30px;
    position: relative;
}
.skill_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 526px;
    height: 551px;
}
.skills_title{
    text-transform:capitalize;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #0e121d;
    margin-top: 50px;
    position: relative;
    padding-bottom: 20px;
}
.skills_title::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #ff4a54;
    right: 95px;
    top: 50%;
}
.data_box{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    transition: all linear 0.3s;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.data_box:hover{
    border: 0.05px solid #ff4a54;
}
.years{
    width: 150px;
    text-align: center;
}
.yearss{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameOfyear{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: hsl(229, 7%, 55%);
    padding-left: 30px;
}
.circlePointer{
    width: 4px;
    height: 4px;
    background-color: #9e9e9e;
    margin-left: 40px;
    position: relative;
    border-radius: 50%;
}
.data_box:hover .circlePointer{
    background-color: #ff4a54;
}
.circlePointer::after{
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
    border: 1px solid #9e9e9e;
    border-radius: 50%;
    padding: 10px;
}
.data_box:hover .circlePointer::after{
    border: 1px solid #ff4a54;
}

.nameOfExpr{
   font-size: 26px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #0e121d;
    text-transform: capitalize;
}
.nameOfsite{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #838694;
}
/* =======  Work Shokes area start here ===== */
#Work_sokes{
    padding: 150px 0;
}
.showcase_title{
    text-align: center;
}
.showcase_head{
    font-size: 70px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #0e121d;
    text-transform: capitalize;
}
.showcase_pera{
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #838694;
    text-transform: capitalize;
}
.mixit_btn{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}
.work_mixit_btn{
    padding: 10px;
    text-transform: capitalize;
    color: #171717;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #ffff;
    transition: all linear 0.3s;
}
.work_mixit_btn:hover{
    color: #ff4a54;
}
.mixit_main{
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    margin-top: 100px;
}
.mixit_item{
    width: 350px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.overlay_mixit{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all linear 0.3s;
}
.mixit_item:hover .overlay_mixit {
    opacity: 1;
}
.mixit_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay_title{
    color: #ffffff;
    margin: 30px;
    padding: 10px;
    position: absolute;
    background-color: #ff4a54;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
}
.overlay_icon{
    position: absolute;
    padding: 25px;
    background-color: #1c1919;
    top: 120px;
    left: 140px;
    border-radius: 50px;
    color: #ff4a54;
    font-size: 30px;
    cursor: pointer;
}
.sockes_btn_wrapper{
    text-align: center;
}
.shockes_btn{
    margin-top: 150px;
    padding: 20px;
    background-color: #ff4a54;
    border: 0;
    border-radius: 10px;
    transition: all linear 0.3s;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 500;
}
.shockes_btn:hover{
    background-color: #002d61;
}
/* ======= Team Member area start here ===== */
.team_wrapper{
    display: flex;
    gap: 30px;
}
.member{
    width: 270px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
/* .member::after{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: .3s all;
    background: linear-gradient(to bottom,
     rgba(0, 0, 0, 0) 0%,
     rgba(2, 2, 0, 0) 1%, #000 100%);
} */
.member_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team_overlay{
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all linear 0.3s;
    background: linear-gradient(to bottom,
     rgba(0, 0, 0, 0) 0%,
     rgba(2, 2, 0, 0) 1%, #000 100%);
}
.memicon{
    margin-top: 134px;
    padding: 30px;
    background-color: #ff4a54;
    border-radius: 50px;
    font-size: 25px;
    opacity: 0;
    transition: all linear 0.3s;
}
.team_overlay:hover .memicon{
    opacity:1 ;
    transform: translateY(-50px);
    margin-bottom: 30px;
}
.member_name{
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    transition: all  linear 0.3s;
}
.team_overlay:hover .member_name{
    transform: translateY(-50px);
}
.member_deg{
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    position: relative;
    transition: all  linear 0.3s;
}
.team_overlay:hover .member_deg{
    transform: translateY(-40px);
}
.member_deg::after{
    position: absolute;
    content: "";
    left: 50px;
    bottom: -20px;
    width: 235px;
    height: 2px;
    background-color: #ffff;
    opacity: 0 ;
    transition: all linear 0.3s;
}
.team_overlay:hover .member_deg::after{
    opacity: 1;
}
.membercocial{
    padding: 20px;
    margin-left: 20px;
    margin-top: 0;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    opacity: 0;
    transition: all linear 0.3s;
}
.membercocial:hover{
    background-color: #ff4a54;
    border: none;
}
.team_overlay:hover .membercocial{
    opacity: 1;
}
/* ======= Pricing Plan area start here ===== */
#pricing{
    padding: 100px 0;
    
}
.Pricing_header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    color: #000;
    text-transform: capitalize;
}
.plan_option{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    color: #a19e9e;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 20px;
}
.pricing_cards{
    padding-top: 80px;
    gap: 30px;
}
.prcitem{
    border: 1px solid black;
    position: relative;
    transition: all linear 0.3s;
    padding: 0;
}
.prcitem:hover{
    border-radius: 0 180px 0 0;
}
.prcng_amout{
    display: flex;
}
.prcicon{
    color: #fff;
    background-color: #4a4949;
    font-size: 50px;
    padding: 40px 60px;
    margin: 50px 0 30px 30px;
    transition: all linear 0.3s;
}
.prcitem:hover .prcicon{
    background-color: #ff4a54;
    border-radius: 0 50px 0 50px;
}
.prcng_amout{
    margin-left: 30px;
}
.percingspn{
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000;
    font-style: normal;
}
.percingheds{
    margin: 10px 0 0 0;
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000;
    font-style: normal;
    transition: all linear 0.3s;
}
.prcitem:hover .percingheds{
    color:#ff4a54 ;
}
.percingpera{
    margin: 55px 0 0 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #353434;
    font-style: normal;
}
.basic_plan{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    margin-left: 30px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.pitemicon{
    color: #00b306;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    margin-right: 10px;
}
.pitemsnm{
    color: #797878;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    padding: 10px 0;
}
.pitemiconx{
    color: #ff0000;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    margin-right: 10px;
}
.percrdbtn{
    padding: 20px;
    margin: 15px 0 45px 30px;
    background-color:#131212 ;
    border: 0;
    border-radius: 10px;
    z-index: 2000;
    transition: all linear 0.3s;
}
.prcitem:hover .percrdbtn{
    background-color: #ff4a54;
}
.percrdbtntx{
    padding: 10px 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}
.percrdbtnicon{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 200;
}
.percrdimgs{
    overflow: hidden;
    position: absolute;
    width: 354px;
    height: 158px;
    right: 0;
    bottom: 0;
    z-index: 11;
    opacity: 0;
    transition: all linear 0.3s;
}
.prcitem:hover .percrdimgs{
    opacity: 1;
}
.percrdimg{
    width: 100%;
    height: 100%;
    
}
/* ======= overvew start here ===== */
#overvew{
    padding: 0 0 100px 0;
}
.video_box{
    background:linear-gradient(rgba(0, 0, 0, 0.463),rgba(0, 0, 0, 0.422)),url(../images/bgg.jpg);
    height: 500px;
    text-align: center;
    border-radius: 20px;
    position: relative;
}
.box_heder{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-top: 30px;
}
.box_pera{
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 20px;
}
.box_icon_wrap{
    width: 100px;
    height: 100px;
    background-color: #ffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: vdoplaybtn;
    animation-duration: 1.5s ;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    cursor: pointer;
}
.box_icon{
    font-size: 50px;
    color:#ff4a54 ;
    transition: all linear 0.3s;
}
.box_icon_wrap:hover .box_icon{
    color: black;
}

/* ======= overvew animation start here ===== */
@keyframes vdoplaybtn {
    0% { box-shadow: 0 0 0 0 #fff4,0 0 0 0 #fff4; width: 90px; height: 90px;}
    70% { box-shadow: 0 0 0 20px #fff0,0 0 0 20px #fff0; width: 100px;
    height: 100px ;}
    100% { box-shadow: 0 0 0 30px #fff1,0 0 0 60px #fff1; width: 110px; height: 110px; }
}
/* ======= blog news area start here ==== */
#blog_news{
    padding: 30px 0 100px 0;
}
.nesw_info{
    display: flex;
}
.news_header{
    width: 50%;
}
.news_pera{
    width: 50%;
}
.blogtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    position: relative;
}
.blogtitle::before{
    position: absolute;
    content: url(../images/tt.png);
    width: 100%;
    height: 100%;
    left: 300px;
    top: -70px;
}
.blogtitlespn{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-transform: capitalize;
    opacity: 0.5;
}
.blogtitlepera{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #888888;
    line-height: 30px;
}
.news_blogs_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.blog_news_main{
    position: relative;
}
.blog_news_items{
    width: 350px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    transition: all linear 0.3s;
}
.blog_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(black,black);
    position: relative;
    
}
.blog_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all linear 0.3s;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.713));
}
.blog_news_main:hover .blog_overlay{
    background: linear-gradient(rgba(255, 0, 0, 0),rgba(255, 8, 8, 0.713));
}
.blog_title_data_wrapper{
    width: 88%;
    height: 235px;
    position: absolute;
    left: 10px;
    bottom: 0;
    transition: all linear 0.3s;
    
}
.blog_news_main:hover .blog_title_data_wrapper{
    bottom: 116px;
}
.blog_news_main:hover .blog_news_items{
    border-radius: 20px 20px  0 0;
}
.blog_date{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.blog_data_info{
    width: 85%;
    height: 175px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(47, 48, 52, 0.256);
    padding: 20px;
}
.blogBTNwrapper{
    margin-left: 30px;
}
.blogBTN{
    margin-top: 20px;
    padding: 20px 30px;
    background-color: #002d61;
    border-radius: 10px;
    transition: all linear 0.3s;
    border: 0;
}
.blog_news_main:hover .blogBTN{
    background-color: #ff4a54;
}
.btntxt{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
.blog_dateTx{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    line-height: 20px;
}
.zaq{
    color: #535353;
    
}
.xsw{
    padding: 0 10px;
    text-transform: capitalize;
    color:#535353 ;
    font-weight: 500;
}
.cde{
    color: #535353;
}
.vfr{
    padding: 0 10px;
    text-transform: capitalize;
    color:#535353 ;
    font-weight: 500;
}
.mjy{
    padding-top: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-style: normal;
}
/* ======= location area start here  ===== */
#location{
    padding: 0px 0 100px 0;
}
.location_map {
    border-radius: 25px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.paddres_wraper{
    display: flex;
    position: relative;
}
.address_box{
    margin-top: 20px;
    width: 45%;
}

.input_box{
    width: 53%;
    background-color: #f7faff;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.14);
    border-radius: 10px;;
    position: absolute;
    right: 0px;
    top: -95px;
    padding: 65px;
}
.inpmen{
    width: 45%;
    margin-right: 10px;
    height: 45px;
    border: 1px solid rgb(222, 220, 220);
    border-radius: 5px;
    padding-left: 20px;
}
.inpeml{
    width: 45%;
    margin-left: 30px;
    height: 45px;
    border: 1px solid rgb(222, 220, 220);
    border-radius: 5px;
    padding-left: 20px;
}
.inpsub{
    margin-top: 30px;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(222, 220, 220);
    border-radius: 5px;
    padding-left: 20px;
}
.inpmsg{
    padding-top: 20px;
    margin-top: 30px;
    width: 100%;
    border: 1px solid rgb(222, 220, 220);
    border-radius: 5px;
    padding-left: 20px;
}
.frombtn{
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #323232;
    border: 0;
    transition: all linear 0.3s;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;

}
.frombtn:hover{
    background-color: #ff4a54;
}
.secound{
    font-size: 30px;
}
.infoicons{
    color: #ffffff;
    font-size: 40px;
    background-color:#ff4a54 ;
}
.add_icon{
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    background-color: #ff4a54;
    margin: 16px;
}
.add_icon_two{
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    background-color: #f7faff;
    margin: 16px;
}
/* ======= footer area start here ===== */
#footer{
    padding: 75px 0 ;
    background: linear-gradient(rgba(5, 0, 17, 0.913),rgba(1, 0, 19, 0.913)),url(../images/footer-bg.jpg); 
}
.poterimg{
    margin-top: 100px;
    cursor: pointer;
}
.rtf{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.kli{
    font-family: 'Open Sans', sans-serif;
    color: #ff4a54;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
}
.ftrtx{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: all linear 0.3s;
    margin-top: 25px;
}
.ftrtx:hover{
    color: #ff4a54;
}
.ftrspn{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 20px;
}
.ftrlist{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    display: block;
    padding-bottom: 15px;
    cursor: pointer;
    transition: all linear 0.2s;
}
.ftrlist:hover{
    color: #ff4a54;
    padding-left: 5px;
}
.ptrpra{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 30px;
    position: relative;
}
.ptrpra::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    left: 0;
    bottom: -12px;
}
.fotericon{
    color: #ffff;
    margin: 30px 30px 0 0;
    cursor: pointer;
    transition: all linear 0.2s;
    font-size: 17px;
}
.fotericon:hover{
    color: #ff4a54;
    font-size: 16px;
}
.ppme{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 50px;
}
.minu{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* ======= About me area start here ===== */
/* ======= About me area start here ===== */
/* ======= About me area start here ===== */
/* ======= About me area start here ===== */
/* ======= About me area start here ===== */
/* ======= About me area start here ===== */
/* ======= About me area start here ===== */
/* ======= About me area start here ===== */
/* ======= About me area start here ===== */
